<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bordes

    </title>

    <style>

        h1{
            border: 5px solid red;
        }

        h2{
            border: 5px dotted blue;
        }

        div{
            border: double;
        }

    </style>

</head>
<body>
    
<h1>borde en color rojo</h1>
<h2>borde punteado en color azul</h2>
<div>borde doble en color negro</div>

<p class="a">algun texto</p>
<p class="b">algun texto</p>
</body>
</html>