<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores</title>
    <link rel="stylesheet" href="../../public/css/selectores.css">
</head>
<body>
    <p>Selector por nombre</p>

    <p id="id1">Selector por id</p>

    <p class="clase1">Selector por clase</p>

    <p class="clase2">Selector por clase 2</p>

    <p class="clase1 clase2">Este parrafo tiene dos clases</p>

    <h1>Encabezado 1</h1>
    <h2>Encabezado 2</h2>
</body>
</html>