<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condicionales</title>
</head>
<body>
    <script>
        var edad = Number(prompt("Ingrese su edad"));

        if(edad >20){
            console.log('Tu eres mayor de 20 años');
        } else{
            console.log('Tu tienes 20 años o menos');
        }

        if (edad >=0 && edad <20){
            console.log('Tu eres menor de 20 años');

        } else if(edad >=20 && edad <=40){
            console.log('Tu tienes una edad entre 20 y 40 años');

        } else if(edad <0){
            console.log('Ingresaste una edad erronea:' +edad);
        } else{
            console.log('Tu eres mayor de 40 años');
        }

        // condicion compuesta
        if ((edad === 0) || (edad < 1 && edad > -1)){
            console.log('test');

        }

        /* Switch*/

        var text;

        switch (new Date().getDay()) {
            case 6:
                text = 'Hoy es sabado';
                break;
            case 0:
                text = 'Hoy es domingo';
                break;
            
            default:
                text = 'Hoy un dia diferente a sabado y domingo';
                break;
        }

        document.write(text);
        
    </script>
    
</body>
</html>